#acceso{
	background-image:url(../img/acceso_c.png);
	background-repeat:no-repeat;
	width:381px;
	height:230px;
	padding-top:70px;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	margin-top:30px;
	}
#acceso td{
	padding-top:10px;
	}
#acceso input{
	margin-left:10px;
	}
#barra_superior{
	background-color:#900;
	height:5px;
	}
#contenedor{
	width:1080px;
	height:400px;
	text-align:right;
	}
#contenedor #menu{
	width:200px;
	height:400px;
	vertical-align:top;
	border-right: 3px solid #F8001E;
	padding-top: 1em;
	padding-right: 5px;
	}
#contenedor td.paginas{
	padding-top: 0.5em;
}
#contenedor iframe.paginas{
	width:760px;
	height:400px;
	}
#contenedor img{
	width:198px;
	}
#contenedor #boton_cerrar{
	width:120px;	
	}