.menu{
      font-family: Helvetica;
}
.menu ul{
    list-style: none;
    margin:0;
    padding:0;
    width:250px;
}
.menu ul li{
    margin:0;
    padding:0;
}
.menu ul li a{
    border:0px solid gray;
    margin-top:2px;
    padding-left: 10px;
    display:block;
    text-decoration: none;
    color:black;
    font-size:16px;
    height:30px;
    font-weight: bold;
}
.menu ul li ul a{
    border:0;
    margin-top:2px;
    padding-left: 10px;
    display:block;
    text-decoration: none;
    color:black;
    font-size:14px;
    height:25px;
    font-weight: normal;
}
.menu ul li a:hover{
    background-color: #CEE1FF;
}
.menu ul li ul a:hover{
    background-color: #FFFDCE;
}
.menu ul li ul{
    display:none;

}
