<?php 

$consulta=mysql_query($sql_oferta,$conect);
// VA GUARDANDO LAS CLASES-------->
//if($consulta!=" ")echo "consulta trajo valor";
?>
<tr>
	<th>OFERTA</th>
	<th>MATERIA</th>
	<th>GRADO</th>
	<th colspan="2">DOCENTE</th>
</tr>
<tr>
	<th>Codigo</th>
	<th>Nombre</th>
	<th><&deg;</th>
	<th>Nombre</th>
	<th>Apellido</th>
</tr>
<?php
while($row_oferta=mysql_fetch_array($consulta)){
?>
<tr>
	<td><?php echo $row_oferta['id_ofe'];?></td>
	<td><?php echo $row_oferta['nombre_mat'];?></td>
	<td><?php echo $row_oferta['nombre_gra'];?></td>
	<td><?php echo $row_oferta['nombre_doc'];?></td>
	<td><?php echo $row_oferta['apellido_doc'];?></td>
	<td align="center"><a href="crear_horario_de_seccion.php?id_horario=<?php echo $_GET['id_horario'];?>&id_grado=<?php echo $_GET['id_grado'];?>&id_seccion=<?php echo $_GET['id_seccion'];?>&id_oferta=<?php echo $row_oferta['id_ofe'];?> ">Inscribir</a></td>
</tr>
<?php 
}

?>